# PostgreSQL
POSTGRES_USER=airflow
POSTGRES_PASSWORD=changeme
POSTGRES_DB=airflow

# Airflow Admin (created on first boot)
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_ADMIN_EMAIL=admin@example.com

# API
API_PORT=8000

# PostgreSQL host port (avoid conflicts with local PG)
PG_HOST_PORT=5433
